[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
boto3 = "*"
pylint = "*"
moto = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
